#main-game-container {
    height: 95vh; /* Make the main game take up almost the entire height of the window. */
}

#locations-list {
    list-style-type: none;
    padding: 0;
    height: 70%;
    overflow-y: auto;
}

#locations-list li {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: default;
    /* Causes the list items to be laid out in a grid. */
    display: inline-block;
    /*
    Hides everything not within the bounds of the li.
    This prevents there from being big vertical gaps between rows, 
    as well as the desk li being out of alignment with the other lis.

    TODO: figure out how to make stuff outside the bounds of the li visible
    WITHOUT making big vertical gaps appear between rows.
    This way, item icons won't be clipped as they ascend upwards.
    */
    overflow-y: hidden;
}

li svg {
    /* Every image inside of a li will be no bigger than that li. */
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Allows the SVG to overlap with its label without sticking outside of the li. */
    position: relative;
    top: -25px;
}

li#desk svg {
    /*
    Special rule for the SVG representing the free item.
    This SVG must have a top of 0px, or else it will stick outside of the top of its li.
    */
    top: 0px;
}

/* div containing an SVG representing a sent item */
div.item-icon {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 1;
    left: 25%; /* Puts the div at the horizontal center of the chest */
    /* Animation to make the item SVG move upwards and fade away. */
    animation: move-up-fade 1s linear;
}

@keyframes move-up-fade {
    0% {
        top: -85px;
        opacity: 100%;
    }
    75% {
        opacity: 100%;
    }
    100% {
        top: -103px;
        opacity: 0%;
    }
}

#locations-list li.clickable {
    cursor: pointer;
    fill-opacity: 100%;
}

#locations-list li.clickable:hover {
    fill-opacity: 50%;
}

#free-item-unchecked-svg {
    animation: color-shift 5s linear infinite;
}

@keyframes color-shift {
    0% { fill: hsl(0, 100%, 50%); }
    25% { fill: hsl(90, 100%, 50%); }
    50% { fill: hsl(180, 100%, 50%); }
    75% { fill: hsl(270, 100%, 50%); }
    100% { fill: hsl(360, 100%, 50%); }
}

#free-item-checked-svg {
    fill: #4b4b4b;
}

/* Chest number labels */
#locations-list li span {
    color: white;
    position: relative; /* Allows the label and the image to overlap */
    top: 20px;
    z-index: 1;
    width: 100px;
    font-size: 16pt;
    font-weight: bold;
    cursor: inherit;
}