#locations-list {
    list-style-type: none;
    padding: 0;
}

#locations-list li {
    width: 100px;
    height: 100px;
    margin: 10px;
    /* Causes the list items to be laid out in a grid. */
    display: inline-block;
}

li object, li svg {
    /* Every image inside of a li will be no bigger than that li. */
    width: 100%;
    height: 100%;
}

.clickable {
    cursor: pointer;
    fill-opacity: 100%;
}

.clickable:hover {
    fill-opacity: 50%;
}

#free-item-unchecked-svg {
    animation: color-shift 5s linear infinite;
}

@keyframes color-shift {
    0% { fill: hsl(0, 100%, 50%); }
    25% { fill: hsl(90, 100%, 50%); }
    50% { fill: hsl(180, 100%, 50%); }
    75% { fill: hsl(270, 100%, 50%); }
    100% { fill: hsl(360, 100%, 50%); }
}

#free-item-checked-svg {
    fill: #4b4b4b;
}