#win-message {
    position: absolute;
    z-index: 2;
    width: 100%;
    font-size: 95pt;
    font-weight: bold;
    /* Override default max-width for dialog elements. */
    max-width: calc(100% - 1em - 6px);
}

#win-message p {
    color: #ffff33;
    -webkit-text-stroke: 5px black;
}

.animated-text {
    /* Animation to make the win message grow from nothing to 90pt */
    animation: grow-text 0.5s linear;
}

#win-x {
    position: absolute;
    right: 5px;
    color: black;
}

@keyframes grow-text {
    0% {
        font-size: 0pt;
    }
    100% {
        font-size: 95pt;
    }
}